# Nettoyage

### Import des modules

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
import joblib
from scipy import stats

In [2]:
df = joblib.load("df.joblib")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 126 entries, SK_ID_CURR to CNT_CHILDREN_BIN
dtypes: category(1), float64(67), int64(42), object(16)
memory usage: 293.6+ MB

In [3]:
print(df.isna().sum())

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_YEAR    41519
nb_loans                      44020
sum_debt                      44020
AGE                               0
CNT_CHILDREN_BIN                  0
Length: 126, dtype: int64

In [4]:
# Voir le nombre colonne unique

for col in df.columns:
    if df[col].nunique() == 1:
        print(f"--- {col} ---")

In [5]:
miss = df.isna().mean().sort_values(ascending=False) 
display(miss.head(30))

COMMONAREA_AVG              0.698723
COMMONAREA_MODE             0.698723
COMMONAREA_MEDI             0.698723
NONLIVINGAPARTMENTS_MODE    0.694330
NONLIVINGAPARTMENTS_MEDI    0.694330
NONLIVINGAPARTMENTS_AVG     0.694330
FONDKAPREMONT_MODE          0.683862
LIVINGAPARTMENTS_AVG        0.683550
LIVINGAPARTMENTS_MEDI       0.683550
LIVINGAPARTMENTS_MODE       0.683550
FLOORSMIN_MODE              0.678486
FLOORSMIN_AVG               0.678486
FLOORSMIN_MEDI              0.678486
YEARS_BUILD_AVG             0.664978
YEARS_BUILD_MEDI            0.664978
YEARS_BUILD_MODE            0.664978
OWN_CAR_AGE                 0.659908
LANDAREA_AVG                0.593767
LANDAREA_MEDI               0.593767
LANDAREA_MODE               0.593767
BASEMENTAREA_AVG            0.585160
BASEMENTAREA_MEDI           0.585160
BASEMENTAREA_MODE           0.585160
EXT_SOURCE_1                0.563811
NONLIVINGAREA_MODE          0.551792
NONLIVINGAREA_MEDI          0.551792
NONLIVINGAREA_AVG           0.551792
ELEVATORS_MEDI              0.532960
ELEVATORS_AVG               0.532960
ELEVATORS_MODE              0.532960
dtype: float64

In [6]:
import numpy as np
import pandas as pd

print("NaN AVANT :", int(df.isna().sum().sum()))

df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)


to_drop = [
    'COMMONAREA_MODE','COMMONAREA_MEDI',
    'NONLIVINGAPARTMENTS_MODE','NONLIVINGAPARTMENTS_MEDI',
    'LIVINGAPARTMENTS_MODE','LIVINGAPARTMENTS_MEDI',
    'FLOORSMIN_MODE','FLOORSMIN_MEDI',
    'YEARS_BUILD_MODE','YEARS_BUILD_MEDI',
    'LANDAREA_MODE','LANDAREA_MEDI',
    'BASEMENTAREA_MODE','BASEMENTAREA_MEDI',
    'ELEVATORS_MODE','ELEVATORS_MEDI'
]

df = df.drop(columns=[c for c in to_drop if c in df.columns])

for c in ['EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3','OWN_CAR_AGE',
          'COMMONAREA_AVG','NONLIVINGAPARTMENTS_AVG','LIVINGAPARTMENTS_AVG',
          'FLOORSMIN_AVG','YEARS_BUILD_AVG','LANDAREA_AVG','BASEMENTAREA_AVG',
          'NONLIVINGAREA_AVG','ELEVATORS_AVG','FONDKAPREMONT_MODE']:
    if c in df.columns:
        df[c + "_ISNA"] = df[c].isna().astype(int)

num_cols = df.select_dtypes(include=['number']).columns.tolist()
cat_cols = df.select_dtypes(include=['object','category']).columns.tolist()

if num_cols:
    med = df[num_cols].median()
    df[num_cols] = df[num_cols].fillna(med)

for c in cat_cols:
    if df[c].notna().any():
        mode_val = df[c].mode(dropna=True)
        fill_val = mode_val.iloc[0] if not mode_val.empty else "Unknown"
    else:
        fill_val = "Unknown"
    df[c] = df[c].fillna(fill_val)

print("NaN APRES :", int(df.isna().sum().sum()))

NaN AVANT : 9240505

/tmp/ipykernel_1484982/1860476789.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)

NaN APRES : 0

In [7]:
miss = df.isna().mean().sort_values(ascending=False) 
display(miss.head(30))

SK_ID_CURR                    0.0
TARGET                        0.0
NAME_CONTRACT_TYPE            0.0
CODE_GENDER                   0.0
FLAG_OWN_CAR                  0.0
FLAG_OWN_REALTY               0.0
CNT_CHILDREN                  0.0
AMT_INCOME_TOTAL              0.0
AMT_CREDIT                    0.0
AMT_ANNUITY                   0.0
AMT_GOODS_PRICE               0.0
NAME_TYPE_SUITE               0.0
NAME_INCOME_TYPE              0.0
NAME_EDUCATION_TYPE           0.0
NAME_FAMILY_STATUS            0.0
NAME_HOUSING_TYPE             0.0
REGION_POPULATION_RELATIVE    0.0
DAYS_BIRTH                    0.0
DAYS_EMPLOYED                 0.0
DAYS_REGISTRATION             0.0
DAYS_ID_PUBLISH               0.0
OWN_CAR_AGE                   0.0
FLAG_MOBIL                    0.0
FLAG_EMP_PHONE                0.0
FLAG_WORK_PHONE               0.0
FLAG_CONT_MOBILE              0.0
FLAG_PHONE                    0.0
FLAG_EMAIL                    0.0
OCCUPATION_TYPE               0.0
CNT_FAM_MEMBERS               0.0
dtype: float64

In [8]:
miss = df.isna().mean().sort_values(ascending=False) 
display(miss.head(30))

SK_ID_CURR                    0.0
TARGET                        0.0
NAME_CONTRACT_TYPE            0.0
CODE_GENDER                   0.0
FLAG_OWN_CAR                  0.0
FLAG_OWN_REALTY               0.0
CNT_CHILDREN                  0.0
AMT_INCOME_TOTAL              0.0
AMT_CREDIT                    0.0
AMT_ANNUITY                   0.0
AMT_GOODS_PRICE               0.0
NAME_TYPE_SUITE               0.0
NAME_INCOME_TYPE              0.0
NAME_EDUCATION_TYPE           0.0
NAME_FAMILY_STATUS            0.0
NAME_HOUSING_TYPE             0.0
REGION_POPULATION_RELATIVE    0.0
DAYS_BIRTH                    0.0
DAYS_EMPLOYED                 0.0
DAYS_REGISTRATION             0.0
DAYS_ID_PUBLISH               0.0
OWN_CAR_AGE                   0.0
FLAG_MOBIL                    0.0
FLAG_EMP_PHONE                0.0
FLAG_WORK_PHONE               0.0
FLAG_CONT_MOBILE              0.0
FLAG_PHONE                    0.0
FLAG_EMAIL                    0.0
OCCUPATION_TYPE               0.0
CNT_FAM_MEMBERS               0.0
dtype: float64

### Transformation

In [9]:
joblib.dump(df, "df.joblib")

['df.joblib']